/*Global and body styling*/

body {
    background-color: black;
    /*overflow: hidden;*/
    position: absolute;
    height: 100%;
}

* {
    width: 100%;
    height: 100%;
    position: relative;

    float: left;
    border: 0px;
    margin: 0px;
    background-color: transparent;

    color: white;
    font-family: 'VT323', monospace;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
}

* > .centre_text {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}

/*Game screen styling to allow switching screens*/

.screen_div {
    position: relative;
    height: calc(100% / 3);
}

#container {
    position: absolute;
    height: 300%;
}

#game_screen {
    /*background-color: red;*/
}

#pause_screen {
    /*background-color: orangered;*/
}

#day_screen {
    /*background-color: orange;*/
}

/*Containers for pause button in bottom container and page content in top container*/

.content {
    height: calc(100% - 40px);
}

.bottom {
    height: 40px;
}

/*PAUSE BUTTON FUNCTIONALITY and related pause stuff*/

.wide_button:hover {
    background-color: white;
    color: black;

    margin: 5px;
    height: 30px;
    width: calc(100% - 10px);
}

.wide_button {
    line-height: 30px;
    font-size: 30px;
}

.wide_button:active {
    background-color: white;
    color: black;

    margin: 0px;
    height: 40px;
    width: 100%;
}

.wide_button:focus {
    outline: 0;
}

/*for centreing the PAUSED text on the pause screen*/

.centre_text {
    top: 50%;
    position: absolute;
    transform: translate(0%, -50%);
}

/*pause screen content*/

#pause_text {
    font-size: 90px;
    line-height: 90px;
    height: 90px;
}

/*end day screen*/

#day_end_text {
    height: 20%;
    top: 40%;
}

#day_end_text > .centre_text {
    height: 90px;
    line-height: 90px;
    font-size: 90px;
}

#day_button_container {
    height: 15%;
    top: 40%;
}

#day_button_container > * {
    width: 96%;
    height: 46%;
    margin: 2%;
}

/*MAIN GAME SCREEN*/
/*top section*/

#upper {
    height: 40px;
}

.resource_label {
    width: calc(100% / 3);
    position: relative;
}

/*mid section*/
#mid {
    height: calc(45% - 40px);
}

#mid_phrase {
    height: 40%;
}

#phrase_text {
    height: 40px;
    line-height: 40px;
    font-size: 40px;
}

/*event stuff*/
#mid_event {
    height: 40%;
}

.event_div {
    height: 25%;
}

#event_one > .centre_text {
    color: white;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
}

#event_two > .centre_text {
    color: lightgray;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
}

#event_three > .centre_text {
    color: gray;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}

#event_four > .centre_text {
    color: dimgray;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
}

/*environment and outpost information*/

#mid_world {
    height: 20%;
}

.world_info {
    width: 20%;
}

.world_info > .centre_text {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
}

/*lower section*/
#lower {
    height: 50%;
    float: left;
}

#table_headers {
    width: 96%;
    height: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

#table_headers > * > .centre_text {
    /*font-size: 14px;*/
    /*line-height: 14px;*/
    /*height: 14px;*/
}

#table_headers > * {
    height: 40px;
}

/*survivor elements*/
.survivor_div {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 96%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}

.survivor_div > * {
    height: 40px;
}

.tooltip_span {
    visibility: hidden;
    width: 300px;
    height: auto;
    border: 2px solid white;
    padding: 15px;
    background: black;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    white-space: pre;
    text-align: left;
    opacity: 0;
    transition: opacity 1s;
}

.toggle_div {
    height: 100%;
    position: relative;
    width: 8%;
}

.toggle_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 2px solid white;
    padding: 5px 5px;
    background: black;
    width: 15px;
    height: 15px;
}

.toggle_button.down {
    border: 2px solid white;
    background: white;
    padding: 5px 5px;
}

.survivor_div:hover .tooltip_span {
    visibility: visible;
    opacity: 1;
}

.survivor_name {
    text-align: left;
    width: 14%;
}

.survivor_trait {
    width: 10%;
    text-align: left;
}

.survivor_resource {
    width: 7%;
}

.survivor_actions {
    width: 16%;
    background: black;
    color: white;
    padding: 2px;
}

.survivor_actions:disabled {
    color: grey;
}
